// =============================================
// Layout - Additional global styles
// =============================================

* {
  box-sizing:border-box;
}

html, body, #root {
  height:100%;
  margin:0;
  overflow:hidden;
  padding:0;
  width:100%;
}

body {
  background-color:$wht-1;
  color:$dark-gry-1;
  line-height:2.2;
}

button, img, input {
  outline:0;
}

// ===== Responsive Breakpoints =====

$phone: "screen and (min-width:0)";
$tablet: "screen and (min-width:650px)";
$desktop: "screen and (min-width:960px)";
