// =============================================
// Typography - All things font
// =============================================

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans:400,400i');

html {
  font-size:10px;
  line-height:1.5;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size:1.4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.small-caps {
    font-size:1.2rem;
    font-weight:400;
    text-transform:uppercase;
}
