// =============================================
// Layout - Additional global styles
// =============================================

* {
  box-sizing:border-box;
}

html, body, #root {
  height:100%;
  width:100%;
}

body {
  background:#333;
  color:#ddd;
}

button, img {
  outline:0;
}
