// =============================================
// Colors - A collection of global color vars
// =============================================
$dark-gry-1:#424242;
$dark-gry-2:#242323;
$gry-3:#8c8b89;
$gry-4:#c4bdb6;

$grn-1:#0ca773;

$red-1:#ffaf9B;
$red-2:#df5333;

$wht-1:#f7f0e9;

$blue-1:#267fb8;
