// =============================================
// Colors - A collection of global color vars
// =============================================
$dark-gry-2:#333;
$dark-gry-5:#333;
$light-gry-3:#333;

$grn-1:#0ca773;
