// =============================================
// Library UI - Holds all layout styles for the
// component library
// =============================================

.component-library {
  background-color:#151515;
  display:flex;
  flex-direction:column;
  flex:1 1 auto;
  height:100%;
}

// ===== Accordion =====

.component-library {
  .component-library-header {
    align-items:center;
      background-color:$grn-1;
      display:none;
      min-height:60px;
      padding:0 2rem;

      @media #{$phone} {
        display:flex;
      }

      .menu-toggle {
        background-color:transparent;
        border:0;
        border-radius:4px;
        color:#ddd;
        cursor:pointer;
        font-size:2rem;
        height:40px;
        min-width:40px;
        transition:background-color .3s;

        &.mod-active {
          background-color:darken($grn-1, 5%);
        }
      }
  }
}

.component-library .cl-accordion {
  display:flex;
  flex:1 1 auto;

  .cl-accordion-tabs {
    background-color:#151515;
    flex:0 0 auto;
    list-style-type:none;
    margin:0;
    min-width:200px;
    padding:5px 0 0 0;

    .cl-accordion-tabs__tab {
      background:transparent;
      border:0;
      border-left:0 solid transparent;
      color:#ddd;
      cursor:pointer;
      font-size:1.4rem;
      min-height:40px;
      opacity:.6;
      padding:1rem 1.5rem;
      text-align:left;
      transition: opacity .5s, border-width .3s, border-color .3s;
      width:calc(100% - 15px);

      &:hover {
        opacity:1;
      }

      &.mod-selected {
        border-left:15px solid $grn-1;
        transition:border-width .3s .1s, border-color .3s;
        opacity:1;
      }
    }
  }

  .cl-accordion-tabs {
    @media #{$phone} {
      bottom:0;
      left:0;
      position:absolute;
      transform:translateX(-100%);
      transition:transform .3s cubic-bezier(0.19, 1, 0.22, 1);
      top:60px;
      width:100%;
    }
  }

  .cl-accordion-tabs.mod-active {
    @media #{$phone} {
      transform:translateX(0);
    }
  }

  .cl-accordion-content {
    background-color:#1a1b1c;
    flex:1 1 auto;
    overflow-x:hidden;
    overflow-y:auto;
    padding:2rem;
  }
}
