.page-dashboard-layout__nav {
    background-color:$dark-gry-3;
    color:$wht-1;
    flex:0 0 auto;
    width:250px;

    > ul.tab-list__container {
        margin:0;
        list-style-type:none;
        padding:0;

        li.tab-list__item {
            display:flex;
            flex-direction:column;

            .page-dashboard-layout__tab {
                color:$wht-1;
                font-family:'Montserrat';
                margin:auto 0;
                padding:2rem;
                text-align:left;
                text-decoration:none;
                transition:background-color .2s, color .2s;

                &:hover {
                    background-color:$dark-gry-2;
                    color:#fff;
                }

                .nav-menu-icon {
                    font-size:1.8rem;
                    margin-right:1rem;
                    vertical-align:middle;
                }
            }
        }
    }
}
