.page-dashboard {
    display:flex;
    height:100%;

    .page-dashboard-layout {
        display:flex;
        flex:1 1 auto;

        .page-dashboard-layout__nav {
            background-color:$dark-gry-3;
            flex:0 0 auto;
            margin:0;
            width:250px;
        }

        .page-dashboard-layout__main {
            display:flex;
            flex-direction:column;
            overflow-y:auto;
            width:100%;

            .tab-panel {
                display:flex;
                flex-direction:column;
            }

            .dashboard-header {
                background-color:#fff;
                box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.16);
                display:flex;
                flex:0 0 auto;
                height:80px;
                padding:0 1rem;

                .nav-toggle {
                    font-size:2.5rem;
                    margin:auto 1rem;
                    padding:1rem;
                    transition:color .2s;

                    &:hover {
                        color:$grn-1;
                    }
                }
            }
        }
    }
}
