$navWidth:250px;

.page-dashboard {
    display:flex;
    height:100%;

    .loader {
        margin:auto;
    }

    .page-dashboard-layout {
        display:flex;
        flex:1 1 auto;
        width:100%;

        .page-dashboard-layout__nav {
            background-color:$dark-gry-3;
            flex:0 0 auto;
            margin:0;
            overflow:hidden;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            z-index:1;

            @media #{$desktop} {
                position:relative;
            }
        }

        .page-dashboard-layout__main {
            background-color:$wht-1;
            display:flex;
            flex-direction:column;
            overflow-y:auto;
            transform:translateX(0);
            transition:transform .5s cubic-bezier(0.19, 1, 0.22, 1);;
            width:100%;
            z-index:2;

            &.mod-nav-visible {
                transform:translateX($navWidth);
            }

            .tab-panel {
                flex-direction:column;
                flex:1 0 auto;
            }

            .dashboard-header {
                background-color:#fff;
                box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.16);
                display:flex;
                flex:0 0 auto;
                height:80px;
                padding:0 1rem;

                .nav-toggle {
                    font-size:2.5rem;
                    margin:auto 1rem;
                    padding:1rem;
                    transition:color .2s;

                    &:hover {
                        color:$grn-1;
                    }

                    @media #{$desktop} {
                        display:none;
                    }
                }
            }
        }
    }
}
