.my-representatives {
    display:flex;
    flex-direction:column;

    .my-representatives__title {
        margin:0 0 2rem 0;
        padding:2rem 3rem;
    }

    .rep-info-wrapper {
        display:flex;
        flex:1 1 auto;

        .rep-offices {
            background-color:transparent;
            display:flex;
            flex:1 1 auto;
            flex-direction:column;
            margin-left:3rem;
            max-width:400px;
            transition:max-width .5s cubic-bezier(0.23, 1, 0.32, 1),
                background-color .5s ease;

            .rep-list-toggle {
                align-self:flex-end;
                color:$dark-gry-3;
                transform:rotateY(180deg);
                transition:transform .3s .3s ease;
            }

            .rep-offices__office > h3 {
                margin:0;
                overflow:hidden;
                padding:2rem;
                transition:opacity .3s;
                white-space:nowrap;
            }

            .rep-list {
                background-color:transparent;
                list-style-type:none;
                margin:0;
                padding:0;
            }
        }

        .rep-offices.mod-compact {
            max-width:110px;

            .rep-card__info {
                opacity:0;
            }

            .rep-list-toggle {
                transform:rotateY(0);
            }

            .rep-offices__office > h3 {
                opacity:0;
            }
        }

        .rep-detail {
            display:flex;
            flex:1 1 auto;
            margin-right:2rem;
            transition:background-color 1s .5s ease;
            z-index:1;

            .rep-detail__inner {
                background-color:#fff;
                box-shadow:0 1px 1px 0 rgba(0,0,0,.15);
                flex:1 0 auto;
                padding:2rem;
            }
        }
    }
}
