.my-representatives .rep-detail {
    background:#fff;
    box-shadow:0 1px 1px 0 rgba(0,0,0,.15);
    margin:2rem;

    .rep-detail-inner__content {
        display:flex;
    }

    .rep-detail__photo {
        background-color:#eee;
        background-size:cover;
        background-position:top center;
        background-repeat:no-repeat;
        border:1.5rem solid #fff;
        box-shadow:2px 3px 20px 0px rgba(0, 0, 0, 0.15);
        flex:0 0 auto;
        height:200px;
        width:200px;
    }

    .rep-detail__info {
        flex:1 1 auto;
        padding:0 2rem;

        .rep-name {
            font-size:3rem;
            font-weight:400;
            margin:0;
        }
    }
}
