.my-representatives .rep-list {
    display:flex;
    list-style-type:none;
    margin:0;
    padding:0;

    .rep-list-item {
        cursor:pointer;
        flex:1 1 auto;
        padding:1rem;
        transition:background-color .2s;

        &:hover {
            background-color:darken($wht-1, 2%);
        }
    }
}
